@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #23232e;
}

::-webkit-scrollbar-thumb {
  background: #ff5252;
}
/* custom selection */
/* ::selection {
  background: #e41b1b9a;     
  color: #fff;
 } */
html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden !important;
}

.clr {
  clear: both;
}


/* bottom right top to scroll button  start*/
/* .line {
  border: 1px solid #fff;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 8px;
  margin-bottom: -9px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
} */

a.top-scroll {
  cursor: pointer;
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
}
a.top-scroll:hover {
  /* border: 6px solid #1fafb2; */
  /* background: #1fafb2; */
  /* color: #fff !important; */
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in ;
  transform: scale(1.2);
}
.container h1{
  display: inline-block;
  text-decoration: underline #1fafb2;
}

h1 span{
  display: inline-block;
  border-bottom: 2px solid #1fafb2;
  padding-bottom: 2px;
  text-transform: lowercase;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in ;
}

/* bottom right top to scroll button  end*/
header {
  top: 0;
  /* left: 0; */
  position: sticky;
  /* float: left; */
  height: 100vh;
  background-color: #23232e;
  padding: 15px;
}

section {
  padding: 15px 0;
  /* height: 100vh; */
}

.btn {
  padding: 5px;
  display: flex;
  margin: 7px 0;
  line-height: 2em;
  /* border-radius: 4px;s */
  border: 1px solid transparent;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  background-color: #3b3b4b;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}

.btn:hover {
  /* opacity: 0.9; */
  background-color: #515164;
}

/* header section style start */
.profile {
  position: sticky;
  text-align: center;
}

.user-img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.user-img:hover {
  border: 6px solid #1fafb2;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in ;
}

span.lead {
  /* margin-top: 90px; */
  background-color: #3b3b4b;
  padding: 2px 5px;
  display: inline-block;

  margin-top: 10px;
  font-size: 15px;
  /* border-radius: 50px; */
  /* word-wrap: normal; */
}
span.lead:hover{
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in ;
  transform: scale(1.2);
  cursor:default;
}
.btn-nav {
  display: grid;
  margin: 20px 100px;
}

a button {
  width: 100%;
}


/* social media icon section */
.soc {
  margin: 15px;
  font-size: 25px;
  /* display: flex; */
  /* flex-direction: column; */
}

a {
  color: #fff !important;
  text-decoration: none;
  /*  */
}

a:hover {
  text-decoration: none;
}

/* .icon { */
  /* position: relative; */
  /* color: #262626; */
  /* transition: 0.5s;
  z-index: 3;
} */

/* i.icon:hover {
  color: #fff;
  transform: rotateY(360deg);
} */

.soc{
  opacity: .8;
  background: #3b3b4bb3;
  border-radius: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  /* -ms-flex-align: center; */
  /* align-items: center; */
  /* -ms-flex-pack: center; */
  /* justify-content: center; */
  /* position: relative; */
  /* text-align: center; */
  width: 2.25rem;
  height: 2.25rem;
  box-shadow: 0 0 0.0625rem 0.4375rem rgba(0,0,0,.01);
  padding: .9375rem;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 2.5rem;
   
  margin: 0;
  padding: 0;
  /* margin: 0 .625rem .9375rem; */
}
.soc:hover{
  transform: scale(1.2);

}
 .soc {
/*  */
} 
a {
  color: #3fdfe2 !important;
}
/* header section style end */

/* project details which are in card section */
.flex {
  /* height: 100px; */
  display: grid;
  grid-template-areas: "a a";
  grid-gap: 10px;
  grid-auto-columns: 49%;
  align-items: center;
}

.box {
  padding: 10px;
}

/* right side project, about, contact section start */
.container {
  background-color: #3b3b4b;
  /* background-color: rgb(145, 145, 145); */
}

.card {
  min-height: 110px;
  background-color: #23232d;
  margin: 5px 2.5px;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 25px;
  margin-bottom: 10px;
  /* position: relative; */
}

.card-text {
  font-size: 15px;
}

.card:hover {
  /* cursor: pointer; */
  /* border: 1px solid rgb(0, 0, 0, 0); */
  box-shadow: 0 3px 3px rgb(0, 0, 0, 0.6);
  transform: scale(1.03);
}



/* about section start here */
.about .lead {
  padding: 15px;
  font-size: 18px;
  line-height: 1.6em;
}

/* about section end here */

/* contact section start here */
.contact {
  padding: 10px;
  display: flex;
  flex-direction: column;

  /* align-items: center; */
}

.contactText {
  font-size: 25px;
  text-transform: lowercase;
  font-weight: 900;
  font-family: 'Raleway', sans-serif;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0 50px 15px;
}
.project {
  padding-bottom: 5px;
}
form {
  display: flex;
  flex-direction: column;
  width: 80%;
  background: #23232d;
  margin: auto;
  padding: 50px 20px;
}



input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px #c9c9c9;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0;
  font-size: 15px;
  text-decoration: none;
  width: 100%;
  padding: 15px 0;
}

form .btn {
  margin: 20px 0;
  padding: 5px 20px;
  float: left;
  font-size: .9em;
  border: none;
  cursor: pointer;
}
/* recaptcha verification*/
.rc-anchor-light.rc-anchor-normal {
  border: none !important;
  padding: 0 !important;
  margin-top: 10px !important;
  transform:scale(0.77) !important;
  -webkit-transform:scale(0.77) !important;
  transform-origin:0 0 !important;
  -webkit-transform-origin:0 0 !important;
}

.rc-anchor-light {
  background: #3b3b4b78 !important;
  color: #fff !important;
}
.contactText {
  padding-top: 10px;

}

/* contact section end here */
footer {
  text-align: center;
  padding: 10px 10px;
  background-color: #23232e;
  /* background: #; */
}

footer span {
  color: red;
  font-size: 25px;
}

footer a {
  text-decoration: none;
  text-transform: uppercase;
  /* text-transform: ; */
  /* font-style: oblique; */
  color: #ff5252 !important;
}
footer a:hover{
  /* display: inline-block; */
  border-bottom: 2px solid #1fafb2;
  padding-bottom: 2px;
  /* text-transform: lowercase; */
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in ;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    display: inline;
    /* grid-template-columns: 1fr 3fr; */
  }

  header {
    top: 0;
    position: relative;
    height: 100vh;
  }
}
/* Media queries */
/* Larger than mobile */
@media (max-width: 400px) {
  .btn {
    padding: 2px;

  }

  .social {

    margin-top: -15px;
  }

  .soc {
    margin: 8px;
    font-size: 20px;
  }

  .flex {
    grid-template-areas: "a";
    grid-gap: 0;
    grid-auto-columns: 100%;
  }

  .card {
    min-height: 50px;
  }

  .card-title {
    font-size: 15px;
  }

  .card-text {
    font-size: 12px;
  }
  .contactText{
   padding: 15px 15px;
  }
  form {
    width: 90%;
    margin: auto;
    padding: 20px;
  }
  a.top-scroll {
    bottom: 15px;
    right: 15px;
  }
}

/* Larger than mobile */
@media (min-width: 400px) {
  .flex {
    grid-template-areas: "a";
    grid-gap: 0;
    grid-auto-columns: 100%;
  }

  .user-img {
    margin-top: 15px;
  }

  .btn {
    padding: 5px;

  }

  .social {
    margin-top: -15px;
  }

  .soc {
    margin: 8px;
    font-size: 20px;
  }

  .card {
    min-height: 50px;
  }

  .card-title {
    font-size: 15px;
  }

  .card-text {
    font-size: 12px;
  }
}

/* Larger than phablet */
@media (min-width: 550px) and (max-width:749px) {
  body {
    display: inline;
    /* grid-template-columns: 1fr 3fr; */
  }

  header {
    /* width: 150px; */
    top: 0;
    /* left: 0; */
    /* bottom: 0; */
    position: relative;
    height: 100vh;
    /* background-color: red; */
    background-color: #23232e;
    /* opacity: 0.9; */
  }
  .flex {
    grid-template-areas: "a";
    grid-gap: 0;
    grid-auto-columns: 100%;
    /* align-items: ; */
  }
  a.top-scroll {

    bottom: 30px;
    right: 30px;
  } 

}

/* Larger than tablet */
@media (min-width: 750px) {
  .flex {
    grid-template-areas: "a a";
    grid-gap: 0;
    grid-auto-columns: 49%;
  }

  .btn-nav {
    /* width: 50%; */
    /* margin: auto; */
  }

  .btn {
    padding: 5px 20px;
    /* width: 25%; */
  }

  .box {
    padding: 10px;
  }

  .card {
    min-height: 100px;
  }

  .card-title {
    font-size: 15px;
  }

  .card-text {
    font-size: 12px;
  }

  /* .contact */

}

/* Larger than desktop */
@media (min-width: 1000px) {
  .card {
    /* min-height: 80px; */
  }

  .card-title {
    font-size: 25px;
  }

  .card-text {
    font-size: 15px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}